autosave/
Demon_Lords_Castle-compile.map
Demon_Lords_Castle-compile.map
Demon_Lords_Castle.bsp.geometry.obj
Demon_Lords_Castle.log
Demon_Lords_Castle-light.log
Demon_Lords_Castle.pts
Demon_Lords_Castle.bsp.json
Demon_Lords_Castle.leak.prt
